.containerCarousel{
    position: relative;

}
.imgBack{
    width: 100%;
    height: 100%;
}

.opacityImg{
        position: absolute;
        display: flex;
        flex-direction: column;
        top:0;
        text-align: center;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: rgba(45, 45, 45, 0.542);
        color: rgb(255, 255, 255);
}



