.box{
    position: relative;
    margin: 0 auto;
    transform: translate(-50%,-50%);
}

.inputS {
    padding: 10px;
    width: 700px;
    height: 60px;
    background: #272133;
    border: 4px solid #ffd52d;
    border-radius: 50px;
    box-sizing: border-box;
    font-family: Comic Sans MS;
    font-size: 26px;
    color: #ffd52d;
    outline: none;
    transition: .5s;
}
.box:hover .inputS{
    width: 350px;
    background: #272133;
    border-radius: 10px;
}
.icon{
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translate(-50%,-50%);
    font-size: 26px;
    color: #ffd52d;
    transition: .2s;
}
.box:hover .icon{
    opacity: 0;
}